@model K_Systems.Data.Core.Domain.Employee

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<h2>Details <small>for @Model.fName  @Model.lName</small></h2>


@Html.Partial("_EmployeeDetail", Model)





@section Scripts{
    <script>
        $('.addImg').show();
    </script>
}



