@model K_Systems.Data.Core.Domain.Course

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<h2>Details <small>for @Model.name course</small></h2>


@Html.Partial("_CourseDetail", Model)




