

@model string

@{
    <div class="thumbnail">
        <img src="@Model" alt="Employee Photo" class="addImg"/>
        <div class="caption">
            <p>Select Photo</p>
            @*<button class="btn btn-success">Clear</button>*@
            <input type="file"  class="form-control" accept="image/*" data_img="true" id="uploadImg" name="uploadImg"/>
            <input type="hidden"     name="img" value="@Model" />
        </div>
    </div>
}
