@using K_Systems.Presentation.Web.Models.ViewModel
@using K_Systems.Presentation.Web.Helper
@using K_Systems.Data.Core.Domain

@model EmployeeHomeViewModel


@Ajax.BodiedActionLink("<span class='glyphicon glyphicon-sort-by-attributes'></span>", "Search","Employees",
       new TablePageInfo{
           search = Model.pageInfo.search,
           items = Model.pageInfo.items,
           sortBy = ViewData["colName"].ToString(),
           order = "asc",
           page = Model.pageInfo.page
       }, new AjaxOptions
       {
           HttpMethod = "get",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "main"
       },new { @class= Model.pageInfo.sortBy == ViewData["colName"].ToString() && Model.pageInfo.order == "asc" ? "" : "text-muted" })

@Ajax.BodiedActionLink("<span class='glyphicon glyphicon-sort-by-attributes-alt'></span>", "Search","Employees",
       new TablePageInfo{
           search = Model.pageInfo.search,
           items = Model.pageInfo.items,
           sortBy = ViewData["colName"].ToString(),
           order = "desc",
           page = Model.pageInfo.page
       }, new AjaxOptions
       {
           HttpMethod = "get",
           InsertionMode = InsertionMode.Replace,
           UpdateTargetId = "main"
       },new { @class= Model.pageInfo.sortBy == ViewData["colName"].ToString() && Model.pageInfo.order == "desc" ? "" : "text-muted" })
