

@model string

@{
    <div class="thumbnail">
        <img src="@Model" alt="Employee Photo" class="addImg"/>
        <div class="caption">
            <p>Employee Photo</p>
        </div>
    </div>
}
