
@{
    ViewBag.Title = "Index dashboard";
    Layout = "~/Views/Shared/_LayoutHR.cshtml";
}

<h2>Index</h2>
<div class="col-lg-6">
    <canvas id="Chart" width="100" height="100"></canvas>
</div>

<div class="col-lg-6">
    <canvas id="Chart1" width="100" height="100"></canvas>
</div>




@section Scripts{
    <script src="~/Scripts/ChartJS.js"></script>
    <script src="~/Scripts/HRDashCharts.js"></script>
}




